<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Succes Page</title>
    <link rel="stylesheet" href="../static/success.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container">
        <div class="confetti">
                <img class="success_gif" src="../static/success3.gif" alt="" width="150px" height="150px"><br>
                <h1>Congratulations! </h1>
                <h2 class="content"><br>Successful!!</h2>
                <button  type="button" class="button"  onclick = "document.location = 'login'" >Click me for login</button> 
        </div>
    </div>
    
</body>

</html>